* {
    margin: 0;
    padding: 0;
}

body {
    background: url(../img/morango.jpg);
}

.main {
    width: 90%;
    height: auto;
    margin-left: 5%;
    margin-right: 1%;
    background-color: rgba(255, 162, 178, 0.9);
}

section {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

/* Cabeçalho */
#log, #navg {
    padding: 15px;
}

#log img {
    border-radius: 100%;
    height: 250px;
    border: 1px solid darkred;
}

li {
    background-color: #e7304f;
    border: 1px solid pink;
    border-radius: 5px;
}

nav  {
    display: inline;
}

.nav a {
    font-size: 20px;
    font-family: cursive;
    color: pink;
}

.nav a:hover {
    color: white;
}

#info {
    text-align: center;
    font-family: cursive;
    color: red;
}

#colorBox {
    background-color: #fff;
    color: #e7304f;
    border-radius: 20px;
    box-shadow: 2px 2px 4px black;
}

/* Produtos */
#products {
    background-color: #e7304f;
    text-align: center;
}

#products h2 {
    color: pink;
    font-family: cursive;
    font-weight: bold;
}

.card {
    width: 31%;
    float: left;
    margin: 5px;
}

.card h5, p {
    color: #e7304f;
    font-family: cursive;
}

.modal-body td {
    padding-right: 50px;
}

/* Saiba mais */
#more-title {
    text-align: center;
    color: rgb(139, 0, 0);
    margin-bottom: 3rem;
}

#more h3 {
    color:rgb(139, 0, 0);
}

.navegacao img {
    padding-left: 5px;
    padding-right: 25px;
    margin-top: 20px;
    margin-bottom: 30px;
}

/* Sobre */
#about {
    background-color: #e7304f;
    color: pink;
    padding: 2rem;
}

#about-text {
    text-align: center;
}

#about-text p {
    color: darkred;
}

/* Contato e formulário*/
.rodape {
    width: 90%;
    height: auto;
    margin-left: 5%;
    margin-right: 1%;
    background-color: rgba(63, 8, 17, 0.9);
    color: white;
}

.telaMensagem, .mensagem-email {
    font-size: 1rem;
    margin-bottom: 5px;
    text-align: center;
    height: auto;
    width: 300px;
    background-color: white;
    color: red;
    font-weight: 600px;
    border-radius: 8px;
}

.mensagem {
    width: 100%;
    padding: 20px;
    text-align: center;
}

.botao {
    width: 100%;
    padding: 15px;
    text-align: center;
}

button:disabled {
    opacity: .4;
    cursor: default;
}

input,
textarea {
    margin-bottom: 1rem;
}

.top {
    width: 100%;
    font-size: 15px;
    text-align: center;
}

.top a {
    text-decoration: none;
    color: white;
}

.erro {
    border-color: #f00;
}

@media(max-width: 480px) {
    body {
        min-width:320px;
    }

    .main {
        width: 90%;
        text-align: center;
        align-items: center;
        overflow: hidden;
    }

    .rodape {
        width: 90%;
        text-align: center;
        align-items: center;
        overflow: hidden;
    }

    #btn {
        font-size: 15px;
    }

    #log {
        margin: 10px 10px;
    }

    .card {
        width: 98% !important;
        float: left;
    }

    .card p {
        font-size: 14px !important;
    }

    .col {
        flex: auto;
    }

    .telaMensagem {
        width: 100%;
    }

    .mensagem-email {
        width: 100% !important;
    }
}


/* Responsivo */
@media(max-width: 768px) {
    body {
        min-width: 481px;
    }

    .main {
        width: 90%;
        text-align: center;
        overflow: hidden;
    }

    .rodape {
        width: 90%;
        text-align: center;
        align-items: center;
        overflow: hidden;
    }

    #btn {
        font-size: 15px;
    }

    #log {
        margin: 10px 10px;
    }

    .col-sm-12 {
        width: 100%;
    }

    .card {
        width: 47%;
        float: left;
    }

    .card p {
        font-size: 12px;
    }

    .col-sm-6 {
        width: 100%;
    }

    .telaMensagem {
        width: 100%;
    }

    .mensagem-email {
        width: 190px;
    }
}