$bg-color-primary: #ffa2b2e6;
$bg-color-secondary: #3f0811e6;
$bg-color-tertiary: #e7304f;
$bg-color-hover: #fa1f44;
$text-color-primary: #8b0000;
$text-color-secondary: #ffc0cb;
$text-color-tertiary: #ffff;
$bg-color-shadow: #333;